<div class="toggle-switch-button-component" [ngClass]="{disabled: disabled}">
  <span
    *ngIf="labelFalse"
    [ngClass]="createLabelCheckedTag(false)"
    (click)="!disabled && onToggle(false)"
    [style.cursor]="disabled ? 'default' : 'pointer'"
    >{{ labelFalse }}</span
  >
  <label class="toggle-switch">
    <input
      type="checkbox"
      [ngClass]="createCheckboxClassTag()"
      [checked]="checked"
      (change)="onChange($event.target.checked)"
    />
    <span class="slider"></span>
  </label>
  <span
    *ngIf="labelTrue"
    [ngClass]="createLabelCheckedTag(true)"
    (click)="!disabled && onToggle(true)"
    [style.cursor]="disabled ? 'default' : 'pointer'"
    >{{ labelTrue }}</span
  >
</div>
