<div
  [class.sectionEditingContainer]="isBeingEdited() === 'TimeEditor'"
  (click)="disableSectionView($event)"
  [class.readonly]="!getVariantIsWritable()"
>
  <!--- START - RENDER SVG (default) --->
  <svg *ngIf="isBeingEdited() === 'Rendering'" width="274px" viewBox="70 0 137 192">
    <g class="edge Lines" (click)="onEdgeLineClick()">
      <path d="M137,0V192" [ngClass]="[getPathClassTag()]" class="edge_line layer_0"></path>
      <path d="M137,0V192" [ngClass]="[getPathClassTag()]" class="edge_line layer_1"></path>
      <path d="M137,0V192" [ngClass]="[getPathClassTag()]" class="edge_line layer_2"></path>
      <path d="M137,0V192" [ngClass]="[getPathClassTag()]" class="edge_line layer_3"></path>
      <!-- Direction arrows (one way trainrun) -->
      <path
        *ngIf="shouldDisplayDirectionArrow()"
        [class]="getEdgeLineArrowClass()"
        d="M-4,-5L2,0L-4,5Z"
        [attr.transform]="getDirectionArrowTranslateAndRotate(45)"
        [attr.hidden]="isDirectionArrowHidden() ? '' : null"
      ></path>
      <path
        *ngIf="shouldDisplayDirectionArrow()"
        [class]="getEdgeLineArrowClass()"
        d="M-4,-5L2,0L-4,5Z"
        [attr.transform]="getDirectionArrowTranslateAndRotate(145)"
        [attr.hidden]="isDirectionArrowHidden() ? '' : null"
      ></path>
      <!-- Asymmetry arrows (asymmetric trainrun)-->
      <path
        *ngIf="shouldDisplayAsymmetryArrows('top')"
        [class]="getEdgeLineArrowClass()"
        d="M-1,-6 V0 H-8 L1,6 V0 H8 Z"
        [attr.transform]="getAsymmetryArrowTranslate(24)"
        [attr.hidden]="!filterService.isFilterAsymmetryArrowsEnabled() ? '' : null"
      ></path>
      <path
        *ngIf="shouldDisplayAsymmetryArrows('bottom')"
        [class]="getEdgeLineArrowClass()"
        d="M-1,-6 V0 H-8 L1,6 V0 H8 Z"
        [attr.transform]="getAsymmetryArrowTranslate(169)"
        [attr.hidden]="!filterService.isFilterAsymmetryArrowsEnabled() ? '' : null"
      ></path>
    </g>
    <g>
      <!-- Intermediary stops (numberOfStops) -->
      <ng-container *ngIf="stationNumberArray.length <= 5">
        <circle
          *ngFor="let stationNumber of stationNumberArray"
          cx="137px"
          [attr.cy]="
            192 / 4 + ((192 - 8) / (perlenketteSection.numberOfStops + 1)) * 0.5 * stationNumber + 4
          "
          [ngClass]="[getPathClassTag()]"
          class="edge_line_stops fill PerlenketteStopElement"
          (click)="clickStopElement()"
        ></circle>
      </ng-container>
      <ng-container *ngIf="stationNumberArray.length > 5">
        <circle
          cx="137px"
          [attr.cy]="(192 - 8) / 2 + 4"
          r="4px"
          [ngClass]="[
            'UI_DIALOG ColorRef_' + perlenketteTrainrun.colorRef,
            'Freq_' + perlenketteTrainrun.frequency,
            'LinePatternRef_7/24',
          ]"
          class="edge_line_stops PerlenketteFill5 PerlenketteStopElement"
          (click)="clickStopElement()"
        ></circle>
        <g transform="translate(151, 96)">
          <g transform="rotate(-90)">
            <text
              (click)="switchSectionView($event, 'stops')"
              x="0"
              y="0"
              class="edge_text TrainrunSectionNumberOfStops end_text"
              style="font-size: 12px"
              [ngClass]="'UI_DIALOG ColorRef_' + perlenketteTrainrun.colorRef"
            >
              {{ stationNumberArray.length }}
            </text>
          </g>
        </g>
      </ng-container>
    </g>
    <g>
      <g
        transform="translate(137, 0)"
        *ngIf="
          !showArrivalAndDepartureTime() &&
          showStopArcStart() &&
          TrainrunsectionHelper.isRightSideDisplayed(trainrunSection)
        "
      >
        <path
          d="M4,0A4,4,0,1,1,-4,4.898587196589413e-16L0,0Z"
          [ngClass]="[getPathClassTag()]"
          class="edge_line_stop_arcs fill"
        />
      </g>
      <g transform="translate(137, 192)" *ngIf="!showArrivalAndDepartureTime() && showStopArcEnd()">
        <path
          d="M-4,-4.898587196589413e-16A4,4,0,1,1,4,0L0,0Z"
          [ngClass]="[getPathClassTag()]"
          class="edge_line_stop_arcs fill"
        />
      </g>

      <g transform="translate(125, 8)" *ngIf="showArrivalAndDepartureTime() && showLeftLock()">
        <rect
          x="6"
          y="1"
          width="12"
          height="22"
          style="cursor: pointer; fill: var(--sbb-header-lean-background-color)"
          (click)="switchSectionViewToggleLock($event, 'leftDepartureTime')"
        ></rect>
        <path
          [attr.d]="getLockSvgPath(trainrunSectionTimesService.getLockStructure().leftLock)"
          [ngClass]="[getPathClassTag(true)]"
          class="edge_line"
          style="stroke-width: 1px; cursor: pointer"
          (click)="switchSectionViewToggleLock($event, 'leftDepartureTime')"
        />
      </g>
      <g
        [attr.transform]="getTravelTimeLockTransform()"
        *ngIf="showTravelTime() && showTravelTimeLock()"
      >
        <rect
          x="6"
          y="1"
          width="12"
          height="22"
          style="cursor: pointer; fill: var(--sbb-header-lean-background-color)"
          (click)="switchSectionViewToggleLock($event, 'travelTime')"
        ></rect>
        <path
          [attr.d]="getLockSvgPath(trainrunSectionTimesService.getLockStructure().travelTimeLock)"
          [ngClass]="[getPathClassTag(true)]"
          class="edge_line"
          style="stroke-width: 1px; cursor: pointer"
          (click)="switchSectionViewToggleLock($event, 'travelTime')"
        />
      </g>

      <g transform="translate(125, 152)" *ngIf="showArrivalAndDepartureTime() && showRightLock()">
        <rect
          x="6"
          y="1"
          width="12"
          height="22"
          style="cursor: pointer; fill: var(--sbb-header-lean-background-color)"
          (click)="switchSectionViewToggleLock($event, 'rightDepartureTime')"
        ></rect>
        <path
          [attr.d]="getLockSvgPath(trainrunSectionTimesService.getLockStructure().rightLock)"
          [ngClass]="[getPathClassTag(true)]"
          class="edge_line"
          style="stroke-width: 1px; cursor: pointer"
          (click)="switchSectionViewToggleLock($event, 'rightDepartureTime')"
        />
      </g>

      <g
        transform="translate(124, 18)"
        *ngIf="showLeftArrivalTime() && TrainrunsectionHelper.isLeftSideDisplayed(trainrunSection)"
      >
        <text
          x="0"
          y="0"
          class="edge_text end_text leftArrivalTime"
          [ngClass]="
            'UI_DIALOG ColorRef_' + perlenketteTrainrun.colorRef + getLeftArrivalTimeClassTag()
          "
          (click)="switchSectionView($event, 'leftArrivalTime')"
        >
          {{ trainrunSectionTimesService.getTimeStructure().leftArrivalTime }}
        </text>
      </g>
      <g
        transform="translate(149, 32)"
        *ngIf="
          showArrivalAndDepartureTime() &&
          TrainrunsectionHelper.isRightSideDisplayed(trainrunSection)
        "
      >
        <text
          (click)="switchSectionView($event, 'leftDepartureTime')"
          x="0"
          y="0"
          class="edge_text start_text leftDepartureTime"
          [ngClass]="
            'UI_DIALOG ColorRef_' + perlenketteTrainrun.colorRef + getLeftDepartureTimeClassTag()
          "
        >
          {{ trainrunSectionTimesService.getTimeStructure().leftDepartureTime }}
        </text>
      </g>
      <g [attr.transform]="getTravelTimeTransform('travelTime')" *ngIf="showTravelTime()">
        <g transform="rotate(-90)">
          <text
            x="0"
            y="0"
            class="edge_text start_text travelTime"
            [ngClass]="'UI_DIALOG ColorRef_' + perlenketteTrainrun.colorRef"
            (click)="switchSectionView($event, 'travelTime')"
          >
            {{ getDefaultDisplayTravelTime() }}
          </text>
        </g>
      </g>
      <g
        [attr.transform]="getTravelTimeTransform('bottomTravelTime')"
        *ngIf="showBottomTravelTime()"
      >
        <g transform="rotate(-90)">
          <text
            x="0"
            y="0"
            class="edge_text start_text bottomTravelTime"
            [ngClass]="'UI_DIALOG ColorRef_' + perlenketteTrainrun.colorRef"
            (click)="switchSectionView($event, 'bottomTravelTime')"
          >
            {{ getDefaultDisplayBottomTravelTime() }}
          </text>
        </g>
      </g>
      <g
        transform="translate(124, 164)"
        *ngIf="
          showArrivalAndDepartureTime() &&
          TrainrunsectionHelper.isLeftSideDisplayed(trainrunSection)
        "
      >
        <text
          x="0"
          y="0"
          class="edge_text end_text rightDepartureTime"
          [ngClass]="
            'UI_DIALOG ColorRef_' + perlenketteTrainrun.colorRef + getRightDepartureTimeClassTag()
          "
          (click)="switchSectionView($event, 'rightDepartureTime')"
        >
          {{ trainrunSectionTimesService.getTimeStructure().rightDepartureTime }}
        </text>
      </g>
      <g
        transform="translate(149, 178)"
        *ngIf="
          showRightArrivalTime() && TrainrunsectionHelper.isRightSideDisplayed(trainrunSection)
        "
      >
        <text
          x="0"
          y="0"
          class="edge_text start_text rightArrivalTime"
          [ngClass]="
            'UI_DIALOG ColorRef_' + perlenketteTrainrun.colorRef + getRightArrivalTimeClassTag()
          "
          (click)="switchSectionView($event, 'rightArrivalTime')"
        >
          {{ trainrunSectionTimesService.getTimeStructure().rightArrivalTime }}
        </text>
      </g>
    </g>
  </svg>
  <!--- END - RENDER SVG (default) --->

  <!--- START - TIME EDITION --->
  <ng-container *ngIf="isBeingEdited() === 'TimeEditor'">
    <div class="editingContainer" (click)="switchSectionView($event, 'editingContainer')">
      <svg width="274px" viewBox="70 0 137 192">
        <g class="edge Lines" (click)="onEdgeLineClick()">
          <path d="M137,0V192" [ngClass]="[getPathClassTag()]" class="edge_line layer_0"></path>
          <path d="M137,0V192" [ngClass]="[getPathClassTag()]" class="edge_line layer_1"></path>
          <path d="M137,0V192" [ngClass]="[getPathClassTag()]" class="edge_line layer_2"></path>
          <path d="M137,0V192" [ngClass]="[getPathClassTag()]" class="edge_line layer_3"></path>
          <!-- Direction arrows (one way trainrun) -->
          <path
            *ngIf="shouldDisplayDirectionArrow()"
            [class]="getEdgeLineArrowClass()"
            d="M-4,-5L2,0L-4,5Z"
            [attr.transform]="getDirectionArrowTranslateAndRotate(45)"
            [attr.hidden]="isDirectionArrowHidden() ? '' : null"
          ></path>
          <path
            *ngIf="shouldDisplayDirectionArrow()"
            [class]="getEdgeLineArrowClass()"
            d="M-4,-5L2,0L-4,5Z"
            [attr.transform]="getDirectionArrowTranslateAndRotate(145)"
            [attr.hidden]="isDirectionArrowHidden() ? '' : null"
          ></path>
          <!-- Asymmetry arrows (asymmetric trainrun)-->
          <path
            *ngIf="shouldDisplayAsymmetryArrows('top')"
            [class]="getEdgeLineArrowClass()"
            d="M-1,-6 V0 H-8 L1,6 V0 H8 Z"
            [attr.transform]="getAsymmetryArrowTranslate(24)"
            [attr.hidden]="!filterService.isFilterAsymmetryArrowsEnabled() ? '' : null"
          ></path>
          <path
            *ngIf="shouldDisplayAsymmetryArrows('bottom')"
            [class]="getEdgeLineArrowClass()"
            d="M-1,-6 V0 H-8 L1,6 V0 H8 Z"
            [attr.transform]="getAsymmetryArrowTranslate(169)"
            [attr.hidden]="!filterService.isFilterAsymmetryArrowsEnabled() ? '' : null"
          ></path>
        </g>
        <foreignObject height="192px" width="290px" x="25">
          <div class="mainGridLayout">
            <div
              class="nodeBorderContainer nodeBorderContainerTopLeft"
              *ngIf="
                showLeftArrivalTime() && TrainrunsectionHelper.isLeftSideDisplayed(trainrunSection)
              "
            >
              <div class="nodeMinus">
                <button
                  tabindex="-1"
                  mode="ghost"
                  class="ButtonMinus"
                  (click)="
                    trainrunSectionTimesService.onNodeLeftArrivalTimeButtonMinus();
                    stopPropagation($event)
                  "
                >
                  -
                </button>
              </div>
              <div class="nodeTime" (click)="stopPropagation($event)">
                <input
                  #leftArrivalTime
                  tabindex="2"
                  class="InputElement firstInput"
                  type="number"
                  sbbInput
                  spellcheck="false"
                  pattern="^[0-9]*"
                  [(ngModel)]="trainrunSectionTimesService.getTimeStructure().leftArrivalTime"
                  (change)="trainrunSectionTimesService.onNodeLeftArrivalTimeChanged()"
                />
              </div>
              <div class="nodePlus">
                <button
                  tabindex="-1"
                  mode="ghost"
                  class="ButtonPlus"
                  (click)="
                    trainrunSectionTimesService.onNodeLeftArrivalTimeButtonPlus();
                    stopPropagation($event)
                  "
                >
                  +
                </button>
              </div>
            </div>

            <div
              [class]="getNodeLeftLockClassTag()"
              *ngIf="
                trainrunSectionTimesService.getLockStructure().leftLock === true ||
                showArrivalAndDepartureTime()
              "
            >
              <div
                *ngIf="
                  trainrunSectionTimesService.getLockStructure().leftLock === false &&
                  showArrivalAndDepartureTime()
                "
              >
                <sbb-icon
                  svgIcon="lock-open-medium"
                  height="25px"
                  width="25px"
                  aria-hidden="false"
                  (click)="
                    trainrunSectionTimesService.onButtonNodeLeftLock(); stopPropagation($event)
                  "
                  title="Ab-/Ankunftszeit 'lock'"
                >
                </sbb-icon>
              </div>
              <div *ngIf="trainrunSectionTimesService.getLockStructure().leftLock === true">
                <sbb-icon
                  svgIcon="lock-closed-medium"
                  height="25px"
                  width="25px"
                  aria-hidden="false"
                  (click)="
                    trainrunSectionTimesService.onButtonNodeLeftLock(); stopPropagation($event)
                  "
                  title="Ab-/Ankunftszeit 'lock' entfernen"
                >
                </sbb-icon>
              </div>
            </div>

            <div
              class="nodeBorderContainer nodeBorderContainerTopRight"
              *ngIf="
                showArrivalAndDepartureTime() &&
                TrainrunsectionHelper.isRightSideDisplayed(trainrunSection)
              "
            >
              <div class="nodeMinus">
                <button
                  tabindex="-1"
                  mode="ghost"
                  class="ButtonMinus"
                  (click)="
                    trainrunSectionTimesService.onNodeLeftDepartureTimeButtonMinus();
                    stopPropagation($event)
                  "
                >
                  -
                </button>
              </div>
              <div class="nodeTime" (click)="stopPropagation($event)">
                <input
                  #leftDepartureTime
                  tabindex="2"
                  class="InputElement firstInput"
                  type="number"
                  sbbInput
                  spellcheck="false"
                  pattern="^[0-9]*"
                  [(ngModel)]="trainrunSectionTimesService.getTimeStructure().leftDepartureTime"
                  (change)="trainrunSectionTimesService.onNodeLeftDepartureTimeChanged()"
                />
              </div>
              <div class="nodePlus">
                <button
                  tabindex="-1"
                  mode="ghost"
                  class="ButtonPlus"
                  (click)="
                    trainrunSectionTimesService.onNodeLeftDepartureTimeButtonPlus();
                    stopPropagation($event)
                  "
                >
                  +
                </button>
              </div>
            </div>

            <sbb-toggle-switch-button
              class="LeftSymmetryToggle"
              *ngIf="trainrunSection.getTrainrun().isRoundTrip()"
              [checked]="!TrainrunsectionHelper.isLeftNodeSymmetric(trainrunSection)"
              (checkedChanged)="onLeftNodeSymmetryToggleChanged(!$event)"
              [disabled]="
                trainrunSectionHelper.isLeftToggleDisabled(
                  trainrunSection,
                  trainrunSectionTimesService.getLockStructure()
                )
              "
              #leftSymmetryToggle
              (click)="stopPropagation($event)"
            >
            </sbb-toggle-switch-button>

            <div
              [class]="getTravelTimeLockClassTag()"
              *ngIf="
                trainrunSectionTimesService.getLockStructure().travelTimeLock === true ||
                showTravelTime()
              "
            >
              <div
                *ngIf="
                  trainrunSectionTimesService.getLockStructure().travelTimeLock === false &&
                  showTravelTime()
                "
              >
                <sbb-icon
                  svgIcon="lock-open-medium"
                  height="25px"
                  width="25px"
                  aria-hidden="false"
                  (click)="
                    trainrunSectionTimesService.onButtonTravelTimeLock(); stopPropagation($event)
                  "
                  title="Fahrzeit 'lock'"
                >
                </sbb-icon>
              </div>
              <div *ngIf="trainrunSectionTimesService.getLockStructure().travelTimeLock === true">
                <sbb-icon
                  svgIcon="lock-closed-medium"
                  height="25px"
                  width="25px"
                  aria-hidden="false"
                  (click)="
                    trainrunSectionTimesService.onButtonTravelTimeLock(); stopPropagation($event)
                  "
                  title="Fahrzeit 'lock' entfernen"
                >
                </sbb-icon>
              </div>
            </div>

            <div
              [ngClass]="
                'nodeBorderContainer nodeBorderContainerCenter' + getNodeBorderContainerScssSuffix()
              "
              *ngIf="showTravelTime()"
            >
              <div class="nodeMinus">
                <button
                  tabindex="-1"
                  mode="ghost"
                  class="ButtonMinus"
                  (click)="
                    trainrunSectionTimesService.onTravelTimeButtonMinus(); stopPropagation($event)
                  "
                >
                  -
                </button>
              </div>
              <div class="nodeTime" (click)="stopPropagation($event)">
                <input
                  #travelTime
                  tabindex="2"
                  class="InputElement firstInput"
                  type="number"
                  sbbInput
                  spellcheck="false"
                  pattern="^[0-9]*"
                  [(ngModel)]="trainrunSectionTimesService.getTimeStructure().travelTime"
                  (change)="trainrunSectionTimesService.onTravelTimeChanged()"
                />
              </div>
              <div class="nodePlus">
                <button
                  tabindex="-1"
                  mode="ghost"
                  class="ButtonPlus"
                  (click)="
                    trainrunSectionTimesService.onTravelTimeButtonPlus(); stopPropagation($event)
                  "
                >
                  +
                </button>
              </div>
            </div>

            <div
              class="nodeBorderContainer nodeBorderContainerCenterLeft"
              *ngIf="showBottomTravelTime()"
            >
              <div class="nodeMinus">
                <button
                  tabindex="-1"
                  mode="ghost"
                  class="ButtonMinus"
                  (click)="
                    trainrunSectionTimesService.onBottomTravelTimeButtonMinus();
                    stopPropagation($event)
                  "
                >
                  -
                </button>
              </div>
              <div class="nodeTime" (click)="stopPropagation($event)">
                <input
                  #bottomTravelTime
                  tabindex="2"
                  class="InputElement firstInput"
                  type="number"
                  sbbInput
                  spellcheck="false"
                  pattern="^[0-9]*"
                  [(ngModel)]="trainrunSectionTimesService.getTimeStructure().bottomTravelTime"
                  (change)="trainrunSectionTimesService.onBottomTravelTimeChanged()"
                />
              </div>
              <div class="nodePlus">
                <button
                  tabindex="-1"
                  mode="ghost"
                  class="ButtonPlus"
                  (click)="
                    trainrunSectionTimesService.onBottomTravelTimeButtonPlus();
                    stopPropagation($event)
                  "
                >
                  +
                </button>
              </div>
            </div>

            <div
              class="nodeBorderContainer nodeBorderContainerBottomLeft"
              *ngIf="
                showArrivalAndDepartureTime() &&
                TrainrunsectionHelper.isLeftSideDisplayed(trainrunSection)
              "
            >
              <div class="nodeMinus">
                <button
                  tabindex="-1"
                  mode="ghost"
                  class="ButtonMinus"
                  (click)="
                    trainrunSectionTimesService.onNodeRightDepartureTimeButtonMinus();
                    stopPropagation($event)
                  "
                >
                  -
                </button>
              </div>
              <div class="nodeTime" (click)="stopPropagation($event)">
                <input
                  #rightDepartureTime
                  tabindex="2"
                  class="InputElement firstInput"
                  type="number"
                  sbbInput
                  spellcheck="false"
                  pattern="^[0-9]*"
                  [(ngModel)]="trainrunSectionTimesService.getTimeStructure().rightDepartureTime"
                  (change)="trainrunSectionTimesService.onNodeRightDepartureTimeChanged()"
                />
              </div>
              <div class="nodePlus">
                <button
                  tabindex="-1"
                  mode="ghost"
                  class="ButtonPlus"
                  (click)="
                    trainrunSectionTimesService.onNodeRightDepartureTimeButtonPlus();
                    stopPropagation($event)
                  "
                >
                  +
                </button>
              </div>
            </div>

            <div
              [class]="getNodeRightLockClassTag()"
              *ngIf="
                trainrunSectionTimesService.getLockStructure().rightLock === true ||
                showArrivalAndDepartureTime()
              "
            >
              <div
                *ngIf="
                  trainrunSectionTimesService.getLockStructure().rightLock === false &&
                  showArrivalAndDepartureTime()
                "
              >
                <sbb-icon
                  svgIcon="lock-open-medium"
                  height="25px"
                  width="25px"
                  aria-hidden="false"
                  (click)="
                    trainrunSectionTimesService.onButtonNodeRightLock(); stopPropagation($event)
                  "
                  title="Ab-/Ankunftszeit 'lock'"
                >
                </sbb-icon>
              </div>
              <div *ngIf="trainrunSectionTimesService.getLockStructure().rightLock === true">
                <sbb-icon
                  svgIcon="lock-closed-medium"
                  height="25px"
                  width="25px"
                  aria-hidden="false"
                  (click)="
                    trainrunSectionTimesService.onButtonNodeRightLock(); stopPropagation($event)
                  "
                  title="Ab-/Ankunftszeit 'lock' entfernen"
                >
                </sbb-icon>
              </div>
            </div>

            <div
              class="nodeBorderContainer nodeBorderContainerBottomRight"
              *ngIf="
                showRightArrivalTime() &&
                TrainrunsectionHelper.isRightSideDisplayed(trainrunSection)
              "
            >
              <div class="nodeMinus">
                <button
                  tabindex="-1"
                  mode="ghost"
                  class="ButtonMinus"
                  (click)="
                    trainrunSectionTimesService.onNodeRightArrivalTimeButtonMinus();
                    stopPropagation($event)
                  "
                >
                  -
                </button>
              </div>
              <div class="nodeTime" (click)="stopPropagation($event)">
                <input
                  #rightArrivalTime
                  tabindex="2"
                  class="InputElement firstInput"
                  type="number"
                  sbbInput
                  spellcheck="false"
                  pattern="^[0-9]*"
                  [(ngModel)]="trainrunSectionTimesService.getTimeStructure().rightArrivalTime"
                  (change)="trainrunSectionTimesService.onNodeRightArrivalTimeChanged()"
                />
              </div>
              <div class="nodePlus">
                <button
                  tabindex="-1"
                  mode="ghost"
                  class="ButtonPlus"
                  (click)="
                    trainrunSectionTimesService.onNodeRightArrivalTimeButtonPlus();
                    stopPropagation($event)
                  "
                >
                  +
                </button>
              </div>
            </div>
            <sbb-toggle-switch-button
              class="RightSymmetryToggle"
              *ngIf="trainrunSection.getTrainrun().isRoundTrip()"
              [checked]="!TrainrunsectionHelper.isRightNodeSymmetric(trainrunSection)"
              (checkedChanged)="onRightNodeSymmetryToggleChanged(!$event)"
              [disabled]="
                trainrunSectionHelper.isRightToggleDisabled(
                  trainrunSection,
                  trainrunSectionTimesService.getLockStructure()
                )
              "
              #rightSymmetryToggle
              (click)="stopPropagation($event)"
            >
            </sbb-toggle-switch-button>
          </div>
        </foreignObject>
      </svg>

      <svg
        width="45px"
        [style.transform]="
          trainrunSection.getTrainrun().isRoundTrip() ? 'translateX(30px)' : 'none'
        "
      >
        <foreignObject height="192px" width="45px">
          <div class="propagationButtonContainer">
            <button
              [class]="isFirstSection === true || !isTrainrunSymmetric() ? 'disabled' : ''"
              class="FunctionButton Rotation90"
              tabindex="-1"
              mode="icon"
              (click)="
                trainrunSectionTimesService.onPropagateTimeLeft(trainrunSection, true);
                stopPropagation($event)
              "
              [title]="'app.perlenkette.perlenkette-section.propagate-times-upwards' | translate"
            >
              <div>
                <sbb-icon
                  svgIcon="arrow-long-left-medium"
                  height="13px"
                  width="13px"
                  aria-hidden="false"
                ></sbb-icon>
              </div>
            </button>
            <button
              [class]="isLastSection === true || !isTrainrunSymmetric() ? 'disabled' : ''"
              class="FunctionButton Rotation90"
              tabindex="-1"
              mode="icon"
              (click)="
                trainrunSectionTimesService.onPropagateTimeRight(trainrunSection, true);
                stopPropagation($event)
              "
              [title]="'app.perlenkette.perlenkette-section.propagate-times-downwards' | translate"
            >
              <div>
                <sbb-icon
                  svgIcon="arrow-long-right-medium"
                  height="13px"
                  width="13px"
                  aria-hidden="false"
                ></sbb-icon>
              </div>
            </button>
          </div>
        </foreignObject>
      </svg>
    </div>
  </ng-container>
  <!--- END - TIME EDITION --->

  <!--- START - STOPS EDITION --->
  <ng-container *ngIf="isBeingEdited() === 'StopsEditor'">
    <div class="editingContainer" (click)="switchSectionView($event, 'editingContainer')">
      <svg width="274px" viewBox="70 0 137 192">
        <g class="edge Lines" (click)="onEdgeLineClick()">
          <path d="M137,0V192" [ngClass]="[getPathClassTag()]" class="edge_line layer_0"></path>
          <path d="M137,0V192" [ngClass]="[getPathClassTag()]" class="edge_line layer_1"></path>
          <path d="M137,0V192" [ngClass]="[getPathClassTag()]" class="edge_line layer_2"></path>
          <path d="M137,0V192" [ngClass]="[getPathClassTag()]" class="edge_line layer_3"></path>
          <!-- Direction arrows (one way trainrun) -->
          <path
            *ngIf="shouldDisplayDirectionArrow()"
            [class]="getEdgeLineArrowClass()"
            d="M-4,-5L2,0L-4,5Z"
            [attr.transform]="getDirectionArrowTranslateAndRotate(45)"
            [attr.hidden]="isDirectionArrowHidden() ? '' : null"
          ></path>
          <path
            *ngIf="shouldDisplayDirectionArrow()"
            [class]="getEdgeLineArrowClass()"
            d="M-4,-5L2,0L-4,5Z"
            [attr.transform]="getDirectionArrowTranslateAndRotate(145)"
            [attr.hidden]="isDirectionArrowHidden() ? '' : null"
          ></path>
          <!-- Asymmetry arrows (asymmetric trainrun)-->
          <path
            *ngIf="shouldDisplayAsymmetryArrows('top')"
            [class]="getEdgeLineArrowClass()"
            d="M-1,-6 V0 H-8 L1,6 V0 H8 Z"
            [attr.transform]="getAsymmetryArrowTranslate(24)"
            [attr.hidden]="!filterService.isFilterAsymmetryArrowsEnabled() ? '' : null"
          ></path>
          <path
            *ngIf="shouldDisplayAsymmetryArrows('bottom')"
            [class]="getEdgeLineArrowClass()"
            d="M-1,-6 V0 H-8 L1,6 V0 H8 Z"
            [attr.transform]="getAsymmetryArrowTranslate(169)"
            [attr.hidden]="!filterService.isFilterAsymmetryArrowsEnabled() ? '' : null"
          ></path>
        </g>
        <g>
          <ng-container *ngIf="stationNumberArray.length <= 5">
            <circle
              *ngFor="let stationNumber of stationNumberArray"
              cx="137px"
              [attr.cy]="
                192 / 4 +
                ((192 - 8) / (perlenketteSection.numberOfStops + 1)) * 0.5 * stationNumber +
                4
              "
              [ngClass]="[getPathClassTag()]"
              style="fill: var(--COLOR_Edit)"
              class="edge_line_stops fill PerlenketteStopElement"
            ></circle>
          </ng-container>
          <ng-container *ngIf="stationNumberArray.length > 5">
            <circle
              cx="137px"
              [attr.cy]="(192 - 8) / 2 + 4"
              r="4px"
              style="stroke: var(--COLOR_Edit); stroke-width: 2px"
              [ngClass]="[
                'UI_DIALOG ColorRef_' + perlenketteTrainrun.colorRef,
                'Freq_' + perlenketteTrainrun.frequency,
                'LinePatternRef_7/24',
              ]"
              class="edge_line_stops PerlenketteFill5 PerlenketteStopElement"
            ></circle>
            <g transform="translate(151, 96)">
              <g transform="rotate(-90)">
                <text
                  x="0"
                  y="0"
                  style="fill: var(--COLOR_Edit); font-size: 16px"
                  class="edge_text TrainrunSectionNumberOfStops end_text"
                  [ngClass]="'UI_DIALOG ColorRef_' + perlenketteTrainrun.colorRef"
                >
                  {{ stationNumberArray.length }}
                </text>
              </g>
            </g>
          </ng-container>
        </g>

        <foreignObject height="192px" width="224px" x="25">
          <div class="mainGridLayout">
            <div class="nodeBorderContainer nodeBorderContainerCenterStops">
              <div class="nodeMinus">
                <button
                  tabindex="-1"
                  mode="ghost"
                  class="ButtonMinus"
                  (click)="onInputNbrStopsElementButtonMinus($event); stopPropagation($event)"
                >
                  -
                </button>
              </div>
              <div class="stopEnterField" (click)="stopPropagation($event)">
                <input
                  #nbrOfStops
                  tabindex="2"
                  class="InputElement firstInput"
                  type="number"
                  sbbInput
                  spellcheck="false"
                  pattern="^[0-9]*"
                  [(ngModel)]="perlenketteSection.numberOfStops"
                  (change)="onInputNbrStopsChanged()"
                />
              </div>
              <div class="nodePlus">
                <button
                  tabindex="-1"
                  mode="ghost"
                  class="ButtonPlus"
                  (click)="onInputNbrStopsElementButtonPlus($event); stopPropagation($event)"
                >
                  +
                </button>
              </div>
            </div>
          </div>
        </foreignObject>
      </svg>
    </div>
  </ng-container>
  <!--- END - STOPS EDITION --->
</div>
